<div class="row">
  <app-simpson-item class="mt-3 col-3" *ngFor="let s of simpsonList" [simpson]="s"
    (simpsonClick)="open(simpsonModal, $event)"></app-simpson-item>
</div>

<ng-template #simpsonModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <h6>{{simpsonSelected.Nombre}}</h6>
    <hr>
    <h6>{{simpsonSelected.Genero}}</h6>
    <hr>
    <h6>{{simpsonSelected.Historia}}</h6>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>