<div class="card">
    <div class="card-header">
        <h4 class="card-title">Calculator</h4>
    </div>
    <div class="card-body">
        <!-- <p>A: <input type="number" value="" /></p>
        <p>B: <input type="number" value="" /></p>
        <p><button (click)="getSum()" class="btn btn-primary btn-sm">Sumar</button></p>
        <p>Result A+B = {{result}}</p> -->
        <form id="calculadora">
            <table>
                <tr>
                    <td colspan="4"><input type="text"></td>
                </tr>
                <tr>
                    <td><button type="button" id="clear" class="operacion">C</button></td>
                    <td><button type="button" id="dividir" class="operacion">/</button></td>
                    <td><button type="button" id="multiplicar" class="operacion">X</button></td>
                    <td rowspan="2"><button type="button" (click)="agregarOperador('-')" id="restar" class="operacion">-</button></td>
                </tr>
                <tr>
                    <td><button type="button" (click)="agregarNumero(1)">1</button></td>
                    <td><button type="button" (click)="agregarNumero(2)">2</button></td>
                    <td><button type="button" (click)="agregarNumero(3)">3</button></td>
                </tr>
                <tr>
                    <td><button type="button" (click)="agregarNumero(4)">4</button></td>
                    <td><button type="button" (click)="agregarNumero(5)">5</button></td>
                    <td><button type="button" (click)="agregarNumero(6)">6</button></td>
                    <td rowspan="2"><button type="button" (click)="agregarOperador('+')" id="sumar" class="operacion">+</button></td>
                </tr>
                <tr>
                    <td><button type="button" (click)="agregarNumero(7)">7</button></td>
                    <td><button type="button" (click)="agregarNumero(8)">8</button></td>
                    <td><button type="button" (click)="agregarNumero(9)">9</button></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="button" (click)="agregarNumero(0)">0</button></td>
                    <td colspan="2"><button type="button" (click)="calcularResultado()" id="igual" class="operacion">=</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>