<h1 class="text-center">WELCOME TO MI FORMULARIO</h1>

<div class="ms-5 mt-5 w-50">
    <form class="row g-3">
        <div class="col-md-4">
            <label for="validationDefault01" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Fran" [(ngModel)]="nombre"
                [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Ruiz Lebron"
                [(ngModel)]="apellidos" [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="col-md-4">
            <label for="validationDefaultUsername" class="form-label">email</label>
            <div class="input-group">
                <input type="text" class="form-control" id="validationDefaultUsername"
                    aria-describedby="inputGroupPrepend2" placeholder="fran@gmail.com" [(ngModel)]="email"
                    [ngModelOptions]="{standalone: true}" required>
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationDefault03" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="validationDefault03" placeholder="123456789" [(ngModel)]="tel"
                [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Seleccionar cómo conoció la página:</label>
            <select class="form-select" id="validationDefault04" required>
                <option selected disabled value="">Seleccionar cómo conoció la página: </option>
                <option value="P">Página Google</option>
                <option value="A">Amigo</option>
                <option value="C">Conocido</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="validationDefault05" class="form-label">NIF</label>
            <input type="text" class="form-control" id="validationDefault05" placeholder="987654321A" [(ngModel)]="nif"
                [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" name="sex" required>
                <label class="form-check-label" for="invalidCheck2">
                    Hombre
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" name="sex" required>
                <label class="form-check-label" for="invalidCheck2">
                    Mujer
                </label>
            </div>
            <label for="inputPassword5" class="form-label">Password</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
                [(ngModel)]="pass" [ngModelOptions]="{standalone: true}">
            <div id="passwordHelpBlock" class="form-text">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,
                special characters, or emoji.
            </div>
            <label for="inputPassword5" class="form-label">Confirmar Contraseña</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
                [(ngModel)]="passRepeat" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-12">
            <button class="btn btn-primary" (click)="getValidation()" type="button">Enviar</button>
        </div>
    </form>
</div>